<div class="new-task">
  <div class="col-sm-4 col-sm-offset-4">
  <br>
      <div class="signupbox">
        <legend>Submit A Task To Be Worked On</legend>
        <%= form_for [@npo, @task] do |f| %>
        <%= f.select :issue, options_for_select(
                        [
                            ["New Site", "New Site"],
                            ["Fix Something", "Fix Something"],
                            ["Add Feature", "Add Feature"],

                        ]
                    ), {}, class: "form-control col-sm-4" %>
      <br> 
      <br>
      <br>
           <%= f.text_area :description, class:"form-control", required: true, placeholder: "Description" %><br />
           <%= f.text_field :language, class:"form-control", required: true, placeholder: "Language" %><br />
           <%= f.text_field :framework, class:"form-control", required: true, placeholder: "Framework" %><br />
           <br>
           <%= f.submit "Submit", class:"btn btn-primary" %>
        <% end %>  
    </div> 
  </div>
</div>