<div class="col-sm-4 col-sm-offset-4">
  <br>
    <div class="signupbox">
    <legend>Join Us</legend>
    <%= form_for :user, url: users_path, :html => { :multipart => true } do |f| %>
      <%= f.select :is_npo, options_for_select([
        ["i represent a non-profit org.", true],
        ["i'm a developer.", false], ]), 
        {}, class: "form-control col-sm-4" %>
      <br>
      <br>
      <br>
      <%= f.label :username, "User Name" %>:
      <%= f.text_field :username, placeholder:"username", class:"form-control", required: true %><br />
      <%= f.label :email, "Email" %>:
      <%= f.email_field :email, placeholder:"email@example.com", class:"form-control", required: true %><br />

      <%= f.label :password, "Password" %>:
      <%= f.password_field :password, class:"form-control", required: true %><br />
      <%= f.label :avatar, "Organization Logo (if available)" %>:
      <%= f.file_field :avatar %> 
      10Mb Max
     <br>
     <br>
     <%= f.submit "Join Us", class:"btn btn-primary" %>
    <% end %>


  </div>
</div>

