
<!-- DEV INFO -->

<div class="container">
  <div class="row">

    <div class="col-md-4 thumbnail">
      <center>
      <%= image_tag @user.avatar.url(:medium) %>
	    <h3>Username: <%= @user.username %> </h3>
	    <p>Email: <%= @user.email %> </p>
	    <p>Date Joined: <%= @user.created_at %> </p>
      <% if @user.id == session[:user_id] %>
        <%= link_to "Edit Your Account", edit_user_path, class: "btn btn-primary" %>
      <% end %>
      </center>
    </div>  
    <div class="col-md-offset-5 thumbnail">
    <center>
    <% if logged_in? %>
      <% if current_user.is_npo == true %>
        <% if current_user.npos.any? %>
        <h3> Your NPO Organizations: </h3>
          <% @user.npos.each do |npo| %>
            <div class="well">
              <%= image_tag npo.avatar.url(:medium) %>
              <p><%= link_to npo.name, npo_path(npo) %></p>
            </div>    
          
        <% end %>
        <%= link_to "Add A Nonprofit Organization", new_npo_path, class: "btn btn-primary" %>
      <% end %>
    <% elsif current_user.is_npo ==false %>
     
			<h3> Projects Applied To: </h3>
      <hr>
      <% current_user.projects.each do |project| %> 
      <p>
      <%= link_to project.task.issue, npo_task_path(project.task.npo, project.task) %>  -
      <%= link_to project.task.description, npo_task_path(project.task.npo, project.task) %> </p>
       
        <% end %> 
      <% end %> 
      <% end %>
      <center>
  </div>
</div>


 


 
