
<div class="well">
  <p>Issue:  <%= task.issue %></p>
  <p>Description: <%= task.description %></p>
  <% if logged_in? %>
    <% if current_user.is_npo == false %>
      <%= form_for :project, url: projects_path do |f| %>
        <%= f.hidden_field :task_id, class: "form-control", value: task.id%>
        <%= f.hidden_field :status, class: "form-control", value: "accepted"%>
        <%= f.submit "accept!", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>