<<<<<<< HEAD
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <center>
    <h2> Status of Projects </h2>

       <% if @myprojects.any? %>

      <div class="well">
        
      <% @myprojects.each do |status, projects| %>
      <h1>Status: <%= status %> </h1>
      <% projects.each do |project| %> 

      <p>Issue:  <%= project.task.issue  %></p>
      <p>Description: <%= project.task.description %></p>

       <% if logged_in? && project.status == "pending"%>
          <% if current_user.is_npo == true %>
            <%= form_for :project, url: project_path(project), method: "put" do |f| %>
              <%= f.hidden_field :status, class: "form-control", value: "accepted"%>
              <%= f.submit "accept!", class: "btn btn-primary" %>
            <% end %>

          <% end %>
        <% end %>

        <br>

        <% if logged_in? && project.status == "accepted"%>
          <% if current_user.is_npo == true %>
            <%= form_for :project, url: project_path(project), method: "put" do |f| %>
              <%= f.hidden_field :status, class: "form-control", value: "completed"%>
              <%= f.submit "complete!", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
      <% end %>
      <% end %> 
    </div>
    <center>
  </div>
</div>
