<div class="signuppage">

  <div class="col-sm-6 col-sm-offset-3">
  <br>
    <div class="signupbox">
      <legend>Add Your Non Profit Organization</legend>
      <%= form_for @npo do |f| %>
        <%= f.label :name, "Organization Name" %>:
        <%= f.text_field :name, class:"form-control", required: true %><br />
        <%= f.label :about, "Mission" %>:
        <%= f.text_area :about, class:"form-control", required: true %><br />
        <%= f.label :avatar, "Organization Logo (if available)" %>:
        <%= f.file_field :avatar %>
        <br>
        <%= f.submit "Become A Member", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>