<div class="signuppage">
<div class="col-sm-4 col-sm-offset-4">
<br>
  <div class="signupbox">
  <legend>signup for amazing opportunities</legend>
  <%= form_for @npo do |f| %>
     <%= f.label :name, "company name" %>:
     <%= f.text_field :name, class:"form-control", required: true %><br />
     <%= f.label :about, "about" %>:
     <%= f.text_area :about, class:"form-control", required: true %><br />
     <br>
     <%= f.submit "become a member!", class:"btn btn-primary" %>
  <% end %>
  
  
</div>
</div>
</div>