
<!-- NPO INFO -->

<div class="container">
  <div class="row">
  	
    <div class="col-md-4">
		<div class="thumbnail">

		    <h3>name: <%= @npo.name %> </h3>
		    <p>about: <%= @npo.about %> </p>
		    <p>date joined: <%= @time %> </p>
	
		</div>
    </div>
    <div class="col-md-offset-5">
    	<div class="thumbnail">
    	<% if @npo.tasks.any? %>
	    	<% @npo.tasks.each do |task| %>
	    		<p>Issue:<%= task.issue %></p>
          <%= link_to "Interested", new_project_path, class: "btn btn-primary" %>

	    	<%= link_to "Add Task", new_npo_task_path(@npo), class: "btn btn-primary" %>
	    	<% end %>
	    <% else %>
	    <%= link_to "Create A Task", new_npo_task_path(@npo), class: "btn btn-primary" %>

    	
    	<% end %>

     

		</div>
    </div>

  </div>
</div>
