
<!-- NPO INFO -->

<div class="container">
  <div class="row">
   <div class="col-md-4">
		<div class="thumbnail">
		 	<h3>name: <%= @npo.name %> </h3>
		  <p>about: <%= @npo.about %> </p>
		  <p>date joined: <%= @time %> </p>	
		</div>
  </div>
  <div class="col-md-offset-5">
  	<div class="thumbnail"> 		
			<% if @npo.tasks.any? %>
				<h3>Looking for developers to work on these issues</h3>
	    	<% @npo.tasks.each do |task| %>
	    	<div class="well">
	  			<p>Issue:  <%= link_to task.issue, npo_task_path(@npo, task) %></p>
	  			<p>Description: <%= task.description %></p>
	  		</div>
	  		<% end %>
	  		<% if @npo.user.id == session[:user_id] %>
	  			<%= link_to "Add A Task", new_npo_task_path(@npo), class: "btn btn-primary" %>
				<% end %>
			<% else %>
			<h3>No issues currently available</h3>
	  	<% end %>
		</div>
  </div>
</div>

