
<!-- NPO INFO -->

<div class="container">
  <div class="row">
   <div class="col-md-4">
		<div class="thumbnail">
		    <h3>Name: <%= @npo.name %> </h3>
		    <p>About: <%= @npo.about %> </p>
		    <p>Date Joined: <%= @npo.created_at %> </p>
		</div>
  </div>
  <div class="col-md-offset-5">
  	<div class="thumbnail"> 		
			<% if @npo.tasks.any? %>
				<h3>Looking for Developer Help:</h3>
	    	<% @npo.tasks.each do |task| %>

	    	<div class="well">
	  			<p>Issue:  <%= link_to task.issue, npo_task_path(@npo, task) %></p>
	  			<p>Description: <%= task.description %></p>
  				<% if logged_in? %>
  					<% if current_user.is_npo == false %>
  			 			<%= form_for :project, url: projects_path do |f| %>
								<%= f.hidden_field :task_id, class: "form-control", value: task.id%>
								<%= f.hidden_field :status, class: "form-control", value: "pending"%>
								<%= f.submit "interested!", class: "btn btn-primary" %>
           		<% end %>
        		<% end %>
        	<% end %>
	  		</div>
	  		<% end %>
	  		<% if @npo.user.id == session[:user_id] %>
	  			<%= link_to "Add A Task", new_npo_task_path(@npo), class: "btn btn-primary" %>
				<% end %>
			<% else %>
			<h3>No issues currently available</h3>
	  	<% end %>
		</div>
  </div>
</div>



